*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e4d1d8;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    align-items: center;
}


/*menú*/

nav{
    background: rgb(0, 0, 0);
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 15px;
    color: #fff;
}
nav ul li:hover{
    background-color: rgb(201, 36, 113);
    transition: all .5s;
    border-radius: 3px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 20px;
}

/*Formulario de contacto*/

#formulario{
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor_formulario{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    border-radius: 5px;
}

.contenedor_formulario h2{
    text-align: center;
    margin: 10px;
}

label{
    padding: 10px;
}

input{
    margin: 10px;
    padding: 5px;
    border: 1px solid #d4c9d4;
    border-radius: 5px;
    width: 50%;
}

input:hover{
    border: 1px solid rgb(201, 36, 113);
}

textarea{
    margin: 10px;
    padding: 5px;
    border: 1px solid #d4c9d4;
    border-radius: 5px;
}

textarea:hover{
    border: 1px solid rgb(201, 36, 113);
}

button{
    padding: 10px;
    margin: 10px;
    background-color: rgb(201, 36, 113);
    border: none;
    color: #fff;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
}

button:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/*Mapa interactivo*/

.mapa{
    display: flex;
    justify-content: space-around;
}

.mapa h2{ 
    color: rgb(201, 36, 113);
    margin: 20px;
    text-align: center;
}

iframe{
    border-radius: 5px;
    margin: 20px;
}



/*Redes sociales de INVERSIONES PLK*/

.redes_sociales .logos{
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-bottom: 20px;
    align-items: center;
    padding: 10px;
}
.redes_sociales .logos img{
    margin: 20px;
}


/*Footer*/

footer{
    background-color: black;
}
.pie_página{
    width: 100%;
    background-color: black;
}
.pie_página .datos_empresa{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 20px;
}
.datos_empresa .dato figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datos_empresa .dato img{
    width: 150px;
}
 .datos_empresa .dato h4{
    color: #fff;
    margin-bottom: 40px;
    font-weight: 300;
    justify-content: center;
}
.datos_empresa .dato p{
    color: #fff;
    margin-bottom: 40px;
    justify-content: center;
}
.derechos .copyRight{
    background-color: #201f20;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
}