*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e4d1d8;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*menú*/

nav{
    background: rgb(0, 0, 0);
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 15px;
    color: #fff;
}
nav ul li:hover{
    background-color: rgb(201, 36, 113);
    transition: all .5s;
    border-radius: 3px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 20px;
}

/*Lista de sillas*/

.general{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(223, 139, 167);
    justify-content: space-around;
    padding: 20px;
}
.lista_sillas{
    background-color: #fff;
    border: 2px solid rgb(201, 36, 113);
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    float: left;
}
.lista_sillas h3{
    text-align: center;
    padding: 10px;
    color: rgb(63, 153, 99);
}
.lista_sillas ol li{
    list-style: none;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px dotted rgb(0, 0, 0);
}
.lista_sillas ol li:last-child{
    border-bottom: none;
}
.lista_sillas ol li a{
    text-decoration: none;
    color: black;
}
.lista_sillas ol li a:hover{
    color: rgb(201, 36, 113);
    font-weight: bold;
}

/*galería de productos*/

.galería_slider1{
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    display: inline-flex;
    margin-left: 80px;
}
.galería_slider2{
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    display: inline-block;
    margin-left: 80px;
}
.galería_slider3{
    width: 85%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    display: inline-block;
    margin-left: 80px;
}
.galería_slider4{
    width: 85%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    display: inline-block;
    margin-left: 80px;
}
.galería_slider5{
    width: 85%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    display: inline-block;
    margin-left: 80px;
}
div h2{
    color: rgb(218, 40, 99);
    text-align: center;
    width: 100%;
    padding: 10px;
}
.contenedorslider{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.carruselSlider{
    height: 100%;
    width: 100%;
    position: relative;
}
.tarjetas_carrusel{
    height: 100%;
    padding: 20px;
}
.tarjetas_carrusel img{
    height: 60%;
    width: 50%;
}
.flechas_carrusel{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
}
.carruselSlider a{
    color: black;
}
.carruselSlider a:hover{
    color: rgb(218, 40, 99);
}
.tarjetas_carrusel{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.Silla{
    border: 1px solid rgba(221, 38, 84, 0.2);
    background-color: rgb(231, 197, 214);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.Silla p{
    text-align: justify;
    padding: 10px;
    width: 100%;
    height: 100%;
}

/*Footer*/

.pie_página{
    width: 100%;
    background-color: black;
}
.pie_página .datos_empresa{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 20px;
}
.datos_empresa .dato figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datos_empresa .dato img{
    width: 150px;
}
 .datos_empresa .dato h4{
    color: #fff;
    margin-bottom: 40px;
    font-weight: 300;
    justify-content: center;
}
.datos_empresa .dato p{
    color: #fff;
    margin-bottom: 40px;
    justify-content: center;
}
.derechos .copyRight{
    background-color: #201f20;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
}